* {
    box-sizing: border-box;
    margin: 0;
}
header {
    background-color: steelblue;
    padding: 25px;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 25px;
}
nav a:hover {
    background-color: black;
}
h1 {
    margin: 50px 0;
    text-align: center;
    padding: 25px;
}
main img{
    max-width: 1000px;
    width: 100%;
    border: 10px solid steelblue;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}
main p {
    padding: 25px;
}
footer {
    background-color: steelblue;
    padding: 25px;
    text-align: center;
    color: white;
}