@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Audiowide&family=Graduate&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --primary-color: #EAD637;
    --secondary-color: #230C0F;
    --accent1-color: #D7263D;
    --accent2-color: white;
      /* change the values below to your chosen font(s) */
    --heading-font: Graduate;
    --paragraph-font: Abel, Helvetica, sans-serif;


    --headline-color-on-white: #230C0F;
    --headline-color-on-color: #230C0F; 
    --paragraph-color-on-white: #230C0F; 
    --paragraph-color-on-color: #230C0F; 
    --paragraph-background-color: #EAD637;
    --nav-link-color: #D7263D;
    --nav-background-color: #230C0F;
    --nav-hover-link-color: black;
    --nav-hover-background-color: #EAD637;
}
body {
    background-color: whitesmoke;
}
h1 {
    font-size: 2em;
    font-family: Graduate;
}
h2, h3 {
    font-family: var(--heading-font);
}
p {
    font-size: 1.2em;
    font-family: Abel, Helvetica, sans-serif;
}
header {
    display: grid;
    grid-template-columns: 100px auto;
    /* z-index: 1; */
}
#logo {
    justify-content: center;
}
#logo img {
    width: 100px;
    display: block;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #230C0F;
}
nav a {
    text-decoration: none;
    color: #D7263D;
    font-size: 1.5em;
    padding: 35px;
    font-family: Abel, Helvetica, sans-serif;;
}
nav a:hover {
    background-color: #EAD637;
    color: #230C0F;
}
#hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;

    align-items: center;
}
#hero-info {
    padding: 30px;
}
#hero-info h1 {
    grid-row: 1/2;
    text-align: center;
}
#hero-info p {
    grid-row: 2/3;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
#explore-button {
    text-decoration: none;
    margin-top: 10px;
    padding: 15px 30px;
    border-radius: 7px;
    background-color: #EAD637;
    color: #230C0F;
    font-family: var(--paragraph-font);
    font-size: 1.2em;
}
#explore-button:hover {
    background-color: #230C0F;
    color: #D7263D;
}
#explore-button-box {
    justify-self: center;
}
#dronik-planet {
    border: 15px solid #230C0F;
    border-radius: 10px;
    display: block;
    width: 500px;
    margin: 30px;
    grid-column: 2/3;
    grid-row: 1/3;
}
#about {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 400px auto;
}
#about-desc {
    padding: 30px;
    align-content: center;
}
#about-desc h1 {
    text-align: center;
}
#about-desc p {
    margin-top: 30px;
    text-align: center;
}
#headshot {
    display: block;
    width: 400px;
    border: 15px solid #230C0F;
    border-radius: 10px;
}
#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}
.showcase h2 {
    text-align: center;
}
.showcase-img {
    transition: transform .5s;
    border: 10px solid #230C0F;
    border-radius: 10px;
    display: block;
    justify-self: center;
    width: 200px;
    margin-top: 30px;
}
.showcase-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
footer {
    display: grid;
    grid-template-columns: 200px 100px auto;
    align-items: center;
    background-color: #230C0F;
    padding: 15px;
}
footer p {
    color: white;
    padding: 15px;
}
footer a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-family: var(--paragraph-font);
    font-size: 1.2em;
}
#social {
    justify-self: end;
}

/* WORLDBUILDING PAGE */

#worldbuilding-hero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#worldbuilding-hero img {
    width: 100%;
    grid-column: 1/5;
    grid-row: 1/2;
    margin-top: -150px;
    /* margin-bottom: -50px; */
    z-index: -1;
}
#worldbuilding-hero h1 {
    grid-column: 2/4;
    grid-row: 1/2;
    color: white;
    text-align: center;
    font-size: 3em;
    margin-top: 60px;
} /* Top Bar */
#top-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #EAD637;
    /* z-index: 1; */
}
#bookmarks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 30px;
} /* Ported to main CSS */
.bookmark {
    padding: 15px;
    transition: transform .5s;
}
#bookmarks section.active {
    background-color: #D7263D;
} /* Ported to main CSS */
.bookmark:hover {
    opacity: .6;
    transform: scale(1.1);
}
#bookmarks h3 {
    text-align: center;
}
.bookmark-img {
    width: 100px;
    display: block;
    margin: 0 auto;
    border: 5px solid #230C0F;
    border-radius: 5px;
}
#top-bar p {
    padding: 30px;
    align-self: center;
}
#descriptions {
    padding: 30px;
}
.tabcontent {
    display: none;
} /* Ported to main CSS */
.intro-img {
    display: block;
    width: 700px;
}
#dro-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#dro-intro section, #vul-intro section {
    padding-right: 30px;
}
#dro-intro section h1, #jed-intro section h1, #vul-intro section h1 {
    margin-bottom: 30px;
}
.world-desc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.world-desc section {
    padding: 15px;
}
.world-desc h2 {
    text-align: center;
    padding: 15px;
}
.world-desc p {
    padding-bottom: 15px;
}
#dro-magic {
    grid-column: 1/4;
    margin-top: -30px;
}
#jed-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}
#jed-intro section {
    padding-left: 30px;
}
#jed-magic {
    grid-column: 1/4;
    margin-bottom: -30px;
}
#vul-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}